* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #404041;
  height: 100%;
}

header {
  background-color: #404041;
  text-align: center;
  width: 100%;
}

#header-text {
  height: 90px;
  width: 348px;
  margin: 0 auto;
}

h1 {
  color: #DD1972;
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

h2 {
  text-align: center;
}

label {
  font-size: 15px;
}
/*label,
table,
td,
form {
  border: 2px solid green;
  font-size: 20px;
}
*/
input.fields {
  width: 150px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.name-fields {
  width: 250px;
}

h3 {
  color: white;
  font-weight: 300;
  font-size: smaller;
  margin: 0;
  display: flex;
  background: transparent;
}

h3:before, 
h3:after {
  color: white;
  content:'';
  flex: 1;
  border-bottom: solid 1px;
  margin: auto 0.25em; 
}

h4 {
  margin: 0;
  font-weight: 100;
}

.winner-text{
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: -5px;
}

#winner-name-text{
margin-top: 10px;
}

.game-info{
  text-align: left;
  margin-bottom: -10px;
}

.game-text-info {
  font-size: 13px;
}

#latest-score-title {
  display: block;
  margin: 0 auto; 

}

#game-column {
  background-color: #F7F7F7;
  border: 1px solid blue;
  box-sizing: border-box;
  max-width: 50%;
  padding: 10px;
  overflow: auto;
}

.game-panels {
  background-color: #FFFFFF;
  border: 1px solid #D0D2D3;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
  width: 100%;
}

th {
  padding: 5px;
  height: 10px;
}

button {
  background-color: #6E6E6E;
  color: #FFFFFF;
  border: 0;
  border-radius: 12px;
  font-weight: 700;
  font-size: 8px;
  padding: 5px 10px;
}

#circle-button { 
  border-radius: 50%;
  font-size: 10px;
  margin-right: -15px;
}


#Winner-Winner {
  text-align: center;
  padding-top: 10px;
  padding: 10px;
  border: 2px solid #6E6E6E;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-left: 10px;
  max-height: 200px;
  overflow: auto;
}

.Guesses { 
  display: float;
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #D0D2D3 
}


table {
  text-align: left;
  font-size: 10px;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  }

.boxone {
  background-color: #F7F7F7;
  margin: 0;
  width: 50%;
  flex: 1;
}

.boxtwo {
  display: flex;
  background-color: #D0D2D3;
  flex-direction: column;
  padding: 10px;
  flex:1;
  padding-bottom: 100px;
  margin-top: 0;x
}

.card-info {
  border: 1px solid #404041;
  background-color: #FFFFFF;
  box-sizing: border-box;
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 3px;
  padding: 10px;
  height: auto !important;
}

#latest-score {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: stretch;
  text-align: center;
  padding: 5px;
}

.scores {
  box-sizing: border-box;
  flex: 1;
}

.versus-table {
  text-align: center;
  font-size: 10px;
}

#submit-guess {
font-size: 15px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 15px;
padding-left: 15px;
margin-right: 8px;

}

#reset-game{
font-size: 15px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 15px;
padding-left: 15px;
margin-right: 5px;
margin-left: 5px;
}

#clear-game{
font-size: 15px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 15px;
padding-left: 15px;
margin-left: 8px;
}

#challenger1-score h4
{margin-top: -10px;
  margin-left: -120px;
margin-bottom: 10px;}

#challenger2-score{
  margin-top: 22px;
}
hr-vertical{
   width:1px;
  height: 140px;
  color: gainsboro;
}
@media (max-width: 500px) {
  body {
    width: 320px;
    margin-top: 0;
  }

  h1 {
    font-size: 20px;
  }

  .card-info {
    max-width: 320px;
    margin: 0;
  }

  #set-range button{
  margin-top: 10px;
}
  #set-range ul{
  display: inline;
  list-style-type: none;
  }

  .min-range {
    display: block;
  }

  .max-range {
    display: block;
  }
  #scores{
    width: 320px;
    flex:1;
  }
  #latest-score{
    display: block;
    /*display: flex;*/
  }
  #latest-score .scores{
    margin-bottom: 15px;
  }
  #latest-score-title{
    font-weight: 700;
    padding-left: -5px;
    margin-left: 75px;
  }
  .scores h6{
    font-weight: 300;
  }
  /*#scores {
    width: 320px;
    flex:1;
  }*/
  .min-range-section{
    display: inline;
  }
  button{

    margin: 2px;
    display: block;
    text-align: center;
  }
  .player-input-fields{
    text-align: center;
  }
  #play-game-button{
    margin: auto;
    text-align: center;
    display: block;
  }
  #hr-vertical{
    width: 100;
    size: 1;
  }
  .gamepanel{
    text-align: center;
    display: flex;
  }
    
  #hr-vertical{
    padding-top: -15px;
    width: 100;
    size: 1;

    }

  #challenger1-current-guess{
    font-size: 50px;
    font-weight: 800;

    }

  #challenger2-current-guess{
    font-size: 50px;
    font-weight: 800;

    }

